{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<main class="home py-5 bg-light">
    <!-- Hero Section -->
    <section class="hero-section text-center py-5 bg-primary text-white">
        <div class="container">
            <div class="hero-section-box mb-4">
                <h2>CONNECT WITH <span class="text-warning">DEVELOPERS</span></h2>
            </div>

            <!-- Search Form -->
            <div class="hero-section-search">
                <form id="search-form" class="form row justify-content-center" action="{% url 'profiles' %}" method="get">
                    <div class="col-md-6 mb-3">
                        <input class="form-control" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search by developer name" />
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-warning w-100" type="submit" value="Search" />
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Search Result: DevList -->
    <section class="dev-list py-5">
        <div class="container">
            <div class="row g-4">
                {% for profile in profiles %}
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm">
                        <a href="" class="text-decoration-none text-dark">
                            <div class="card-body">
                                <!-- Developer Profile -->
                                <div class="d-flex align-items-center mb-3">
                                    <img class="avatar rounded-circle me-3" src="{{ profile.profile_image.url }}" alt="image"
                                        style="width: 60px; height: 60px;" />
                                    <div class="dev-meta">
                                        <h5 class="mb-1">{{ profile.name }}</h5>
                                        <p class="text-muted small mb-0">{{ profile.short_intro|slice:"60" }}</p>
                                    </div>
                                </div>
                                <!-- Developer Info -->
                                <p class="dev-info small  mb-3">{{ profile.bio|slice:"150" }}</p>
                                <!-- Developer Skills -->
                                <div class="dev-skills">
                                    {% for skill in profile.skill_set.all|slice:"5" %}
                                    <span class="badge bg-primary me-2">{{ skill }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>


{% endblock content%}