{% load static %}

<!-- Header Section 
<header class="header container-fluid">

        <nav class="header__nav navbar navbar-light bg-light">
            <a href="{% url 'projects' %}" class="header__logo">
                <img src="{% static 'images/logo.svg' %} " alt="CodeHive Logo" width="50" height="50" class="d-inline-block align-text-top" />
            </a>
            <div class="container-fluid">
                <input type="checkbox" id="responsive-menu" />
                <label for="responsive-menu" class="toggle-menu">
                    <span>Menu</span>
                    <div class="toggle-menu__lines"></div>
                </label>
                <ul class="header__menu">
                    <li class="header__menuItem"><a href="">Developers</a></li>
                    <li class="header__menuItem"><a href="">Projects</a></li>
                    <li class="header__menuItem"><a href="">Inbox</a></li>
                    <li class="header__menuItem"><a href="{% url 'create-project' %}">Add Project</a></li>
                    <li class="header__menuItem"><a href="" class="btn btn--sub">Login/Sign Up</a></li>
                </ul>
            </div>    
        </nav>

</header>
-->

<nav class="navbar navbar-expand-lg bg-body-tertiary ju">
    <div class="container-fluid">
        <img src="{% static 'images/logo.svg' %} " alt="CodeHive Logo" width="50" height="50" class="d-inline-block align-text-top" />
        <a class="navbar-brand" href="{% url 'projects' %}">CodeHive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'create-project' %}">Add Project</a>
            </li>

        </ul>
          <button href="" class="btn btn-secondary navbar-btn">Login/Sign Up</button>
      </div>
    </div>
  </nav>

