{% load static %}

<!-- NAV -->

<nav class="navbar navbar-expand-lg bg-body-tertiary ju">
    <div class="container-fluid">
        <img src="{% static 'images/logo.svg' %} " alt="CodeHive Logo" width="50" height="50" class="d-inline-block align-text-top" />
        <a class="navbar-brand" href="{% url 'profiles' %}">CodeHive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'profiles' %}">Developers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inbox</a>
            </li>

        </ul>
          {% if request.user.is_authenticated %}

            <a class="nav-link active" aria-current="page" href="{% url 'account' %}">Account &nbsp</a>

          <a style="text-decoration: none;" href="{% url 'logout' %}" class="btn btn-secondary navbar-btn">Log Out</a>
          {% else %}
          <a style="text-decoration: none;" href="{% url 'login' %}" class="btn btn-secondary navbar-btn">Login/Sign Up</a>
          {% endif %}
      </div>
    </div>
  </nav>

